.container{
    display: flex;
    padding: 0 1rem;
    max-width: 1500px;
    margin: 0 auto;
}

.wrapper{
    background-color: #4a76ab;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    /* border-bottom: 1px white solid; */
    z-index: 99;
}

.container h2{
    cursor: pointer;
}